.DS_Store
site/
**/*.aux
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.nav
**/*.out
**/*.snm
**/*.synctex.gz
**/*.toc
Part*/media/
Part*/*.html
Part*/*_tikz_*.tex
Part*/*_tikz_*.pdf
Part*/*_tikz_*.png
Part*/__*.html-prep.tex
